<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Логін працівника</title>
</head>
<body>
<h1>Логін працівника</h1>
<form action="/authenticate-employee" method="POST">
    <label for="username">Ім'я користувача:</label>
    <input type="text" id="username" name="username" required pattern="^[a-zA-Z0-9_-]{3,16}$" title="Тільки букви, цифри, підкреслення та дефіси, довжина від 3 до 16 символів."><br>

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required pattern="^[a-zA-Z0-9_-]{3,16}$" title="Тільки букви, цифри, підкреслення та дефіси, довжина від 3 до 16 символів."><br>

    <button type="submit" class="button">Увійти</button>
</form>
</body>
</html>
