<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Підтвердження OTP</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>Введіть код OTP</h1>
<form action="/verify-register-otp" method="POST">
  <input type="hidden" name="phone" th:value="${phone}">  <!-- Передаємо номер телефону з форми реєстрації -->
  <label for="otp">OTP:</label>
  <input type="text" id="otp" name="otp" required><br>
  <button type="submit">Підтвердити</button>
</form>
</body>
</html>
